body{
    margin: 0;
    background-color: #222;
}

img{
    margin: 0;
    padding: 0;
}

#banner {
    background-color: aliceblue;
    height: 300px;
    background: url(banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:-200px;
}

#wrapper{
    
    background-color: black;
    overflow: hidden;
}

#menu_wrapper{
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#menu {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: auto;
    background-color: black;
    overflow: hidden;
}

#menu ul li {
    float: left;
    border-right: 5px solid gold;
}

#menu ul li a {
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#menu ul li a:hover {
   background-color: gold;
   color: black;
   
}

#menu ul li:first-child{
    border-left: 5px solid gold;
}

#sor1{
    width: 100%; 
}

#oszlop1{
    width: 100%
}

#oszlop1 img{
    width: calc(25% - 10px);
    float: left;
    border: 5px solid gold;
    height: 500px;
    
}


#intro{
    border-top: 5px solid gold;
    border-left: 5px solid gold;
    border-right: 5px solid gold;
    border-bottom: 2px solid gold;
}

#intro h1{
    color:gold;
    text-align: center;
    font-weight: bold;
    font-style:italic ;
    text-decoration: underline;
}

#intro p{
    color:gold;
    text-align: center;
    font-weight: bold;
    font-style:italic ;
    text-decoration: underline;
    font-size: larger;
}

