body{
    margin: 0;
    background-color: #222;
}


#banner {
    background-color: aliceblue;
    height: 300px;
    background: url(banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:-200px;
}

#wrapper{
    
    background-color: #222;
    overflow: hidden;
}

#menu_wrapper{
    width: 100%;
    background-color: #bbb;
    overflow: hidden;
}

#menu {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: auto;
    background-color: #bbb;
    overflow: hidden;
}

#menu ul li {
    float: left;
    border-right: 1px solid #eee;
}

#menu ul li a {
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#menu ul li a:hover {
   background-color: #222;
}

#menu ul li :first-child{
    border-left: 1px solid #eee;
}

